body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px 20px;
}
h1{
    color: #333;
}
.formulario{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}
.label{
    display: block;
    margin-bottom: 5px;
}
.input-nombre, .input-email, .input-password{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.input-edad{
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.boton-submit{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.boton{
    padding: 10px 20px;
    background-color: #460e0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .container {
        max-width: 90%;
    }
}